{% extends 'base.html' %}
{% load static %}

{% block body_class %}register-page{% endblock %}

{% block title %}Elevate | Register{% endblock %}

{% block content %}
    <section class="register-section">
        <div class="register-container">

            <div class="register-image">
                <img src="{% static 'images/login.jpg' %}" alt="Gym dumbbells">
            </div>

            <div class="register-form">
                <div class="register-form-box">
                    <h1>Create Account</h1>

                    <form method="post" class="register-form-element">
                        {% csrf_token %}
                        <div class="auth-field">
                            <label for="first_name">First Name:</label>
                            <input type="text" id="first_name"name="first_name" required>
                        </div>

                        <div class="auth-field">
                            <label for="last_name">Last Name:</label>
                            <input type="text" id="last_name" name="last_name" required>
                        </div>

                        {% for field in form %}
                            {% if field.name != 'first_name' and field.name != 'last_name' %}
                                <div class="auth-field">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                    {{ field }}

                                    {% if field.help_text %}
                                    <div class="auth-help-text">{{ field.help_text|safe }}</div>
                                    {% endif %}

                                    {% if field.errors %}
                                        <div class="auth-error">{{ field.errors }}</div>
                                    {% endif %}

                                </div>
                            {% endif %}
                        {% endfor %}

                        <button type="submit" class="auth-btn">Register</button>
                    </form>

                    <a href="{% url 'login' %}" class="auth-link">Already have an account? Log in<i class="fa-solid fa-angle-right"></i></a>
                </div>
            </div>

        </div>
    </section>
{% endblock %}