{% extends 'base.html' %}
{% load static %}

{% block body_class %}register-page{% endblock %}

{% block title %}Elevate | Register{% endblock %}

{% block content %}
    <section class="register-section">
        <div class="register-container">

            <div class="register-image">
                <img src="{% static 'images/login.jpg' %}" alt="Gym dumbbells">
            </div>

            <div class="register-form">
                <div class="register-form-box">
                    <h1>Create Account</h1>

                    <form method="post" class="register-form-element">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                            <div class="auth-error">{{ form.non_field_errors }}</div>
                        {% endif %}
                        
                        <div class="auth-field">
                            <label for="{{ form.first_name.id_for_label }}">First Name:</label>
                            {{ form.first_name }}

                            {% if form.first_name.errors %}
                                <div class="auth-error">{{ form.first_name.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="auth-field">
                            <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
                            {{ form.last_name }}

                            {% if form.last_name.errors %}
                                <div class="auth-error">{{ form.last_name.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="auth-field">
                            <label for="{{ form.email.id_for_label }}">E-mail address:</label>
                            {{ form.email }}

                            {% if form.email.errors %}
                                <div class="auth-error">{{ form.email.errors }}</div>
                            {% endif %}
                        </div>

                        {% for field in form %}
                            {% if field.name != 'first_name' and field.name != 'last_name' and field.name != 'email' %}
                                <div class="auth-field">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                    {{ field }}

                                    {% if field.help_text %}
                                    <div class="auth-help-text">{{ field.help_text|safe }}</div>
                                    {% endif %}

                                    {% if field.errors %}
                                        <div class="auth-error">{{ field.errors }}</div>
                                    {% endif %}

                                </div>
                            {% endif %}
                        {% endfor %}

                        <button type="submit" class="auth-btn">Register</button>
                    </form>

                    <a href="{% url 'login' %}" class="auth-link">Already have an account? Log in<i class="fa-solid fa-angle-right"></i></a>
                </div>
            </div>

        </div>
    </section>
{% endblock %}