{% extends 'base.html' %}

{% block body_class %}default-page{% endblock %}

{% block title %}Elevate | {{ fitness_class.class_type.name }}{% endblock %}

{% block content %}
    <section class="class-details">
        <div class="class-details-container">
            <div class="class-details-card">
                <div class="class-details-left">
                    <h1>{{ fitness_class.class_type.name }}</h1>
                    <h2>{{ fitness_class.start_time|date:"l d.m." }}</h2>
                    <h2>{{ fitness_class.start_time|date:"H:i" }} - {{ fitness_class.end_time|date:"H:i" }}</h2>
                    <div class="class-details-left-info">
                        <p><i class="fa-solid fa-user"></i> <strong>{{ fitness_class.instructor }}</strong></p>
                        <p><i class="fa-solid fa-location-dot"></i> <strong>{{ fitness_class.location }}, {{ fitness_class.location.address }}</strong></p>
                        <p><i class="fa-solid fa-clock"></i> <strong>{{ fitness_class.class_type.duration_minutes }} minutes</strong></p>
                    </div>
                </div>

                <div class="class-details-right">
                    <p class="class-details-description">{{ fitness_class.class_type.description }}</p>
                    {% if fitness_class.is_full %}
                        <p class="spots-remaining"><i class="fa-solid fa-users-line"></i> Availability: Full</p>
                    {% else %}
                        <p class="spots-remaining"><i class="fa-solid fa-users-line"></i> {{ fitness_class.spots_remaining }} available spots</p>
                    {% endif %}

                    {% if user.is_authenticated %}
                        {% if user_booking %}
                            <p class="booking-message">You have already booked this class.</p>

                            {% if fitness_class.can_cancel %}
                                <form method="post" action="{% url 'cancel_booking' user_booking.id %}" onsubmit="return confirm('Are you sure you want to cancel this booking?');">
                                    {% csrf_token %}
                                    <input type="hidden" name="confirm_cancel" value="true">
                                    <input type="hidden" name="next" value="class_detail">
                                    <button type="submit" class="btn warning-btn dts-btn rsp-btn">Cancel Booking</button>
                                </form>
                            {% else %}
                                <p class="booking-message cancellation-msg"><i class="fa-solid fa-triangle-exclamation"></i>This booking can no longer be cancelled because it is less than 3 hours until the class starts.</p>
                            {% endif %}

                        {% elif fitness_class.status != "scheduled" %}
                            <p class="booking-message">This class is no longer available for booking.</p>

                        {% elif fitness_class.is_full %}
                            <p class="booking-message">Sorry, the class is full.</p>

                        {% else %}
                            <form method="post" action="{% url 'book_class' fitness_class.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="confirm" value="true">
                                <input type="hidden" name="next" value="class_detail">
                                <button type="submit" class="btn primary-btn dts-btn rsp-btn">Book Class</button>
                            </form>
                        {% endif %}

                    {% else %}
                        {% if fitness_class.status != "scheduled" %}
                            <p class="booking-message">This class is no longer available for booking.</p>
                        {% elif fitness_class.is_full %}
                            <p class="booking-message">Sorry, the class is full.</p>
                        {% else %}
                            <a href="{% url 'login' %}" class="btn primary-btn dts-btn rsp-btn">Log in to book</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="details-hero">
        <div class="details-hero-overlay">
            <a href="{% url 'classes_list' %}">Back to classes<i class="fa-solid fa-angle-right"></i></a>
        </div>
    </section>
{% endblock %}