<!DOCTYPE html>
<html>
    <head>
        <title>Upcoming Classes</title>
    </head>
    <body>
        <h1>Upcoming Classes</h1>

        {% if classes %}
            <ul>
                {% for fitness_class in classes %}
                    <li>
                        <strong>
                            <a href="/classes/{{ fitness_class.id }}/">
                                {{ fitness_class.class_type.name }}
                            </a>
                        </strong><br>
                        Instructor: {{ fitness_class.instructor }}<br>
                        Location: {{ fitness_class.location }}<br>
                        Time: {{ fitness_class.start_time|date:"d/m/y H:i" }}<br>
                        Status: {{ fitness_class.status }}
                    </li>
                    <br>
                {% endfor %}
            </ul>
        {% else %}
            <p>No classes available.</p>
        {% endif %}
    </body>
</html>