{% extends 'base.html' %}

{% block body_class %}default-page{% endblock %}

{% block title %}Elevate | Upcoming Classes{% endblock %}

{% block content %}
    <section class="classes">
        <div class="classes-container">
            <h1>Upcoming Classes</h1>

            <form method="get" class="classes-filter-form">
                <select name="category" class="filter-select">
                    <option value="">All Categories</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}"
                            {% if selected_category == category.id|stringformat:"s" %}selected{% endif %}>
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>

                <select name="location" class="filter-select">
                    <option value="">All Locations</option>
                    {% for location in locations %}
                        <option value="{{ location.id }}"
                            {% if selected_location == location.id|stringformat:"s" %}selected{% endif %}>
                            {{ location.name }}
                        </option>
                    {% endfor %}
                </select>

                <input type="date" name="date" class="filter-select" value="{{ selected_date }}">

                <button type="submit" class="filter-btn">Filter</button>

                <a href="{% url 'classes_list' %}" class="clear-filter-btn">Clear</a>
            </form>

            {% if classes %}
                <div class="classes-list">
                    {% for fitness_class in classes %}
                        <div class="classes-card">

                            <div class="classes-card-date">
                                <h2>{{ fitness_class.start_time|date:"l" }} {{ fitness_class.start_time|date:"d.m." }}</h2>
                            </div>

                            <div class="classes-card-content">
                                <div class="classes-card-left">
                                    <p><strong>{{ fitness_class.start_time|date:"H:i" }} - {{ fitness_class.end_time|date:"H:i" }}</strong></p>
                                    <p>{{ fitness_class.class_type.duration_minutes }} minutes</p>
                                    {% if fitness_class.is_full %}
                                        <p class="spots-remaining">No available spots</p>
                                    {% else %}
                                        <p class="spots-remaining">{{ fitness_class.spots_remaining }} available spots</p>
                                    {% endif %}
                                </div>

                                <div class="classes-card-middle">
                                    <p><strong>{{ fitness_class.class_type.name }}</strong></p>
                                    <p><i class="fa-solid fa-user"></i> {{ fitness_class.instructor }}</p>
                                    <p><i class="fa-solid fa-location-dot"></i>{{ fitness_class.location }}, {{ fitness_class.location.address }}</p>
                                </div>

                                <div class="classes-card-right">
                                    {% if fitness_class.status != "scheduled"%}
                                        <span class="btn warning-btn">Unavailable</span>

                                    {% elif user.is_authenticated %}
                                        {% if fitness_class.id in booked_class_ids %}
                                            <span class="btn booked-btn dts-btn">Booked</span>

                                        {% elif fitness_class.is_full %}
                                            <span class="btn warning-btn dts-btn">Full</span>

                                        {% else %}
                                            <form action="{% url 'book_class' fitness_class.id %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="confirm" value="true">
                                                <input type="hidden" name="next" value="classes_list">
                                                <button type="submit" class="btn primary-btn dts-btn">Book</button>
                                            </form>
                                        {% endif %}

                                    {% else %}
                                         <a href="{% url 'login' %}" class="btn primary-btn dts-btn">Log In</a>
                                    {% endif %}

                                    <a href="{% url 'class_detail' fitness_class.id %}" class="btn secondary-btn dts-btn">Details</a>
                                </div>
                            </div>
                            
                        </div>  
                    {% endfor %}
                </div>
            {% else %}
                {% if selected_date %}
                    <p class="empty-state">No classes available for this date.</p>
                {% else %}
                    <p class="empty-state">No classes available.</p>
                {% endif %}
            {% endif %}
        </div>
    </section>
{% endblock %}