{% extends 'base.html' %}

{% block body_class %}default-page{% endblock %}

{% block title %}Elevate | My Bookings{% endblock %}

{% block content %}
    <section class="bookings">
        <div class="bookings-container">
            <h1>My bookings</h1>

            {% if bookings %}
                <p class="bookings-msg">Here you can see your upcoming classes and manage your bookings.</p>
                
                <div class="bookings-list">
                    {% for booking in bookings %}
                        <div class="bookings-card">

                            <div class="bookings-card-left">
                                <h2>{{ booking.fitness_class.start_time|date:"l d.m." }}</h2>
                                <p>{{ booking.fitness_class.class_type.name }}</p>
                                <p>{{ booking.fitness_class.start_time|date:"H:i" }} - {{ booking.fitness_class.end_time|date:"H:i" }}</p>
                            </div>

                            <div class="bookings-card-middle">
                                <p><strong>Instructor:</strong> {{ booking.fitness_class.instructor }}</p>
                                <p><strong>Location:</strong> {{ booking.fitness_class.location }}</p>
                            </div>

                            <div class="bookings-card-right">
                                <form method="post" action="{% url 'cancel_booking' booking.fitness_class.id %}" onsubmit="return confirm('Are you sure you want to cancel this booking?');">
                                    {% csrf_token %}
                                    <button type="submit" class="bookings-cancel-btn">Cancel</button>
                                </form>

                                <a href="{% url 'class_detail' booking.fitness_class.id %}" class="bookings-details-btn">
                                    Details
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            {% else %}
                <p class="bookings-msg">You have no upcoming bookings yet.</p>
            {% endif %}
        </div>
    </section>

    <section class="bookings-hero">
        <div class="bookings-hero-overlay">
            <a href="{% url 'classes_list' %}">Browse classes<i class="fa-solid fa-angle-right"></i></a>
        </div>
    </section>
{% endblock %}