{% extends 'base.html' %}

{% block body_class %}default-page{% endblock %}

{% block title %}Elevate | My Bookings{% endblock %}

{% block content %}
    <h1>My Bookings</h1>
    {% if bookings %}
        <ul>
            {% for booking in bookings %}
                <li>
                    <strong>
                        <a href="/classes/{{  booking.fitness_class.id }}/">
                            {{ booking.fitness_class.class_type.name }}
                        </a>
                    </strong><br>
                    Instructor: {{ booking.fitness_class.instructor }}<br>
                    Location: {{ booking.fitness_class.location }}<br>
                    Time: {{  booking.fitness_class.start_time|date:"d/m/y H:i" }} - {{ booking.fitness_class.end_time|date:"H:i" }}<br>
                    Status: {{ booking.status }}
                </li>
                <br>
            {% endfor %}
        </ul>
    {% else %}
        <p>You do not have any bookings yet.</p>
    {% endif %}

    <p><a href="/">Back to home</a></p>
{% endblock %}